body {
  font-family: 'Arial', sans-serif;
  background-color: #5e4b56;
  margin: 0;
  padding: 0;
}
.form-section {
  background-color: #886d7d;
}

.search-form {
  padding: 20px;
  text-align: center;
}

input {
  margin: 5px 0;
  box-sizing: border-box;
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #5a4953;
  color: #fff;
  border: 1px solid #5a4953;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #382e34;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: #bfb0b9;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.load-more {
  margin: 20px auto;
  padding: 10px 20px;
  display: block;
}
